.carousel-item .container {
    z-index: 1000;
}

.carousel-inner .view {
    height: 550px;
}

.carousel-inner {
    .carousel-item {
        .view {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}

.carousel-item .view::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90%;
    background: linear-gradient(0deg, #161618 5%, transparent 100%);
}

.station--user {
    .carousel-item .view::before {
        background: linear-gradient(0deg, #ffffff 5%, transparent 100%) !important;
    }
    .carousel-inner {
        .carousel-item {
            .view {
                background-attachment: fixed;
            }
        }
    }
}

.carousel-inner::after {
    height: 20px;
    /* background: linear-gradient(0,transparent,rgba(0,0,0, .6)); */
}

.carousel .carousel-indicators li {
    width: 0.325rem;
    height: 0.325rem;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 12px;
}
