form label {
    font-weight: 500;
    font-size: 0.875rem;
    display: inline-block;
    margin: 0 0 0.5rem 0;
}

label {
    color: #888;
    font-size: .8125rem;
}

form p {
    margin: 0 0 1.5rem 0 !important;
}