
select[multiple], select[size], textarea {
    height: auto !important;
}

.input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: inherit;
    outline: none;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgba(150, 160, 170, 0.63);
    transition: all 0.3s ease-in-out;
}

.input:focus {
    border: 2px solid rgba($primary-color, 0.63);
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


.button:hover,
input[type="submit"]:hover {
    color: #333;
    background-color: #eee;
    box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.25);
}


.button,
input[type="reset"],
input[type="submit"] {
    position: relative;
    align-items: center;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: bottom;
    background-color: #444;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.8125rem 1.5rem;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    transition: all .3s ease-in-out;
}

.button.add_to_cart_button,
.button-primary {
    background-color: $primary-color !important;
}

button,
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
