.navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 44500;
    background: linear-gradient(0, transparent, rgba(0, 0, 0, .65)) !important;
    background-color: #000;

    .avatar {
        width: 36px;
        height: 36px;
        display: inline-block;
        // vertical-align: middle;
    }

    img.nav-img {
        border-radius: 50%;
        border: 3px solid #696c75;
        vertical-align: middle;
    }

    .user-display-name {
        margin: 0 0.5rem;
        color: rgba(255, 255, 255, 0.75);
    }
}

// height="96" width="96"

.navbar:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    // background: #000;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler {
    padding: 0 !important;
}

.navbar-nav--outline.nav-flex-icons {
    font-size: .75rem;

    .nav-item {
        a.signin {
            position: relative;
            color: #fff;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
            transition: color .25s;
            display: block;
            padding: 0.5rem 1rem;
        }

        a.signin:before {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            left: .5rem;
            right: .5rem;
            min-height: 24px;
            background-color: rgba(255, 255, 255, 0.25);
            border-radius: .25rem;
        }
    }
}

.affix-fix {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    -webkit-transition: padding 0.2s linear;
    -moz-transition: padding 0.2s linear;
    -o-transition: padding 0.2s linear;
    transition: padding 0.2s linear;
    background-color: rgba(0, 0, 0, 0.856) !important;
}

.affix {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    -webkit-transition: padding 0.2s linear;
    -moz-transition: padding 0.2s linear;
    -o-transition: padding 0.2s linear;
    transition: padding 0.2s linear;
    background-color: rgba(0, 0, 0, 0.856) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}


//// browse Nav
.tabs-header {
    margin-bottom: 126px;
}

.page-header::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.page-header {
    -ms-overflow-style: none;
}

.page-header {
    overflow-x: auto;
    box-shadow: 0 1px 2px rgba(25, 25, 25, .1);
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 43px;
    background-color: #fff;
    color: #222;

    .nav {
        height: 60px;
        font-weight: 500;
        margin: 0 -1rem;
        flex-wrap: nowrap;
        display: flex !important;
        font-size: 0.875rem;

        ul {
            padding: 0;
            list-style: none;
        }

        li {
            position: relative;
            float: none;
            display: flex;
            align-items: center;
        }

        a {
            white-space: nowrap;
            display: block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            background-color: transparent;
        }
    }
}

.nav .active,
.nav .current_page_item,
.nav a:hover {
    color: #03c1ae;
}

.page-header .nav li.current_page_item:after {
    background-color: currentColor;
    opacity: .5;
}

.page-header .nav li:after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    height: 2px;
}
