.search_area.open {
    top: 0px;
}

.search_area {
    position: fixed;
    top: -100px;
    left: 0px;
    width: 100%;
    z-index: 55440;
    background: rgba(0, 0, 0) !important;
    padding: 0px 3rem;
    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;

    .search_inner {
        position: relative;
        input {
            margin-left: 1rem;
            border: none;
            border-radius: 0px;
            width: 100%;
            padding: 0px 32px 0px 10px;
            height: 58px;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-size: 13px;
            font-weight: 800;
            color: #b5aec4;
            background: rgba(0, 0, 0) !important;;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
        }
        button.ti-close {
            position: absolute;
            right: 0px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            color: #fff;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .search_inner:before {
        content: "";
        height: 24px;
        width: 2px;
        position: absolute;
        left: 0px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: $primary-color;
    }
}
