*,
:after,
:before {
    box-sizing: border-box;
}

@import "~nprogress/nprogress.css";
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "navbar";
@import "button";
@import "carousel";
@import "_input";
@import "form";
@import "searchbar";

@import "./dist/home";
@import "./dist/login";
@import "./dist/register";
@import "./dist/browse";
@import "./dist/station";
@import "./dist/user";
@import "./dist/playlist";
@import "./dist/user-followers";
@import "./dist/card";
@import "./dist/checkout";
@import "./dist/search";
@import "./dist/news";
@import "./dist/article";

.sm-list {
    .magin-none {
        margin: 0 !important;
    }
}

.clickable {
    cursor: pointer;
}

.content-top {
    margin-top: 80px;
}

.default-cursor {
    cursor: default;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: $primary-color;
    background-color: $primary-color;
}

.home-text-desc {
    font-size: large;
}

.desconnect-btn {
    border: none !important;
    background-color: transparent !important;
    font-weight: 600 !important;
    color: red !important;
}

.user-placeholder {
    padding: 4rem;
    text-align: center;

    svg {
        opacity: 0.5;
    }

    p {
        word-wrap: break-word;
        margin-top: 1.75rem;
        margin-bottom: 1.75rem;
    }
}

.navbar-nav {
    .cart--shopping {
        display: none !important;
    }
}

.img-cover-full {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#nprogress .bar {
    height: 3px !important;
    background: $primary-color !important;
    z-index: 55441 !important;
}

@media only screen and (min-width: 768px) {
    h1,
    .h1 {
        font-size: 3rem;
    }
}

.button-rounded {
    border-radius: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none !important;
    background-color: transparent;
}

.turbolinks-progress-bar {
    height: 3px;
    background: $primary-color;
    z-index: 44501;
}

.v-none {
    visibility: hidden;
}

.has-pale-cyan-blue-background-color {
    background-color: #8ed1fc;
}

.gd-primary {
    background: $primary-color
        linear-gradient(
            135deg,
            $primary-color 10%,
            rgb(3, 193, 94.833333333333) 90%
        ) !important;
}

.text-primary,
.nav .active,
.nav .current_page_item,
a:hover {
    color: #03c1ae;
}

.rounded {
    border-radius: 6px;
}

a.pretty-link:hover {
    color: $primary-color;
    text-decoration: none;
}

.has-large-font-size {
    line-height: 1.2;
    font-size: 36px;
}

footer.site-footer {
    background-color: #faf9f9;

    h3 {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 30px;
        margin-top: 20px;
        text-transform: capitalize;
    }

    li a {
        display: block;
        color: #6a6a6a;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 600;
        font-family: "Raleway", sans-serif;
    }

    a:hover {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        text-decoration: none;
        outline: 0 solid transparent;
        color: $primary-color;
        font-weight: 600;
        font-size: 14px;
        font-family: "Raleway", sans-serif;
    }

    .copywrite-text {
        font-size: 12px;
        margin-bottom: 0;
        color: #6a6a6a;
        font-weight: 500;
    }
}
