// @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

@import "./outline-input";
@import "~nprogress/nprogress.css";
@import "./loading";

.client *,
.client .table thead th,
.client .table thead td {
    font-size: small;
}

.bg-grey-e {
    background-color: #eee;
}

.cdx-notifies {
    z-index: 10000 !important;
}


.news .editor-landing {
    background: #eef5fa;
    border-radius: 30px;
    padding: 10px 10px;
}

table {
    .img-container {
        width: 100%;
        height: 64px;
        width: 64px;
        overflow: hidden;
    }
}

.img-cover-full {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("../../img/fonts/material-icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2")
        format("woff2");
}

.container-audio {
    width: 100%;
    height: auto;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: #fcfcfc;
    color: #444;
    overflow: hidden;
    margin-bottom: 8px;
}

audio {
    width: 100%;
    height: 30px;
}

audio:nth-child(2),
audio:nth-child(4),
audio:nth-child(6) {
    margin: 0;
}

input[type="file"].file-upload-m {
    position: absolute;
    overflow: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}

.post-thumbnail {
    width: 100%;
    position: relative;
    padding: 0;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.user-links {
    span {
        margin-right: 12px;
    }

    svg {
        color: #ffffff;
    }
}

.bg-gradient-danger {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-primary {
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

.shadow-dark-c {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
        0 7px 10px -5px rgba(63, 62, 62, 0.4) !important;
}

.text-white {
    color: #ffffff;
}

#nprogress .bar {
    height: 4px;
}

.card {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.raduis {
    border-radius: 7px;
}

.btn {
    text-transform: none !important;
    font-weight: bold;
}

.tabs--dash {
    .nav-tabs .nav-item .nav-link {
        text-transform: none;
        color: rgba(17, 17, 17, 0.747) !important;
        font-weight: bold;
    }

    .nav-tabs .nav-item .nav-link.active {
        background-color: rgba(82, 82, 82, 0.2);
        transition: background-color 0.3s 0.2s;
    }
}

p {
    font-weight: 300;
    line-height: 1.7;
}

.profil-card {
    .card-icon-img {
        position: relative !important;
        min-height: 200px;
        border-radius: 4px !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: cover !important;
    }

    .opacity-8 {
        opacity: 0.8 !important;
    }

    .bg-gradient-default {
        background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.15s ease;
    }
}
